body {
    width: 50%;
    margin: 0 auto;
}

body h2 {
    text-align: center;
}

.row {
    float: left;
    padding: 5px;
    margin: 5px;
}

button {
    border: 0;
    background: #fff;
    color: skyblue;
    font-size: 25px;
    cursor: pointer;
}