body {
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 400px;
    padding: 120;
}

body h2 {
    text-align: center;
}

.total {
    float: left;
    padding: 5px;
    margin: 5px;
}

P {
    text-align: center;
}